USE [master]
GO
/****** Object:  Database [CamTESOLAPP]    Script Date: 22/11/2016 10:52:03 AM ******/
CREATE DATABASE [CamTESOLAPP] ON  PRIMARY 
( NAME = N'CamTESOLAPP', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL12.MSSQLSERVER\MSSQL\DATA\CamTESOLAPP.mdf' , SIZE = 3520KB , MAXSIZE = UNLIMITED, FILEGROWTH = 1024KB )
 LOG ON 
( NAME = N'CamTESOLAPP_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL12.MSSQLSERVER\MSSQL\DATA\CamTESOLAPP_log.ldf' , SIZE = 8384KB , MAXSIZE = 2048GB , FILEGROWTH = 10%)
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [CamTESOLAPP].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [CamTESOLAPP]
GO
/****** Object:  Table [dbo].[tblACEBox_Footer]    Script Date: 22/11/2016 10:52:03 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tblACEBox_Footer](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](200) NULL,
	[Image] [nvarchar](500) NULL,
	[Ordering] [int] NULL,
	[Visible] [bit] NULL,
	[Deleted] [bit] NULL,
	[Description] [nvarchar](500) NULL,
	[Link] [nvarchar](500) NULL,
	[Grouping] [nvarchar](50) NULL,
 CONSTRAINT [PK_tblACEBox_Footer] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[tblArticle]    Script Date: 22/11/2016 10:52:03 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[tblArticle](
	[ArticleID] [int] IDENTITY(1,1) NOT NULL,
	[Title] [varchar](200) NULL,
	[Article] [text] NULL,
 CONSTRAINT [PK_tblArticle] PRIMARY KEY CLUSTERED 
(
	[ArticleID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[tblArticle_CMS]    Script Date: 22/11/2016 10:52:03 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tblArticle_CMS](
	[ArticleID] [int] IDENTITY(1,1) NOT NULL,
	[WebsiteID] [int] NULL,
	[MenuID] [int] NULL,
	[ArticleTitle] [nvarchar](100) NULL,
	[ArticleBreadcrum] [nvarchar](100) NULL,
	[ArticleContent] [nvarchar](max) NULL,
	[Visitor] [int] NULL,
	[Visible] [bit] NULL,
	[Deleted] [bit] NULL,
	[Comment] [nchar](10) NULL,
	[ArticleTitle_KH] [nvarchar](max) NULL,
	[ArticleBreadcrum_KH] [nvarchar](500) NULL,
	[ArticleContent_KH] [nvarchar](max) NULL,
	[ImageShare] [nvarchar](500) NULL,
 CONSTRAINT [PK_tblArticle_App_CMS] PRIMARY KEY CLUSTERED 
(
	[ArticleID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
/****** Object:  Table [dbo].[tblBanner]    Script Date: 22/11/2016 10:52:03 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tblBanner](
	[BannerID] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](500) NULL,
	[Image] [nvarchar](500) NULL,
	[BoxText] [nvarchar](500) NULL,
	[LinkReadMore] [nvarchar](500) NULL,
	[BannerOrder] [int] NULL,
	[Visible] [bit] NULL,
	[Deleted] [bit] NULL,
 CONSTRAINT [PK_tblBanner] PRIMARY KEY CLUSTERED 
(
	[BannerID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[tblContact]    Script Date: 22/11/2016 10:52:03 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[tblContact](
	[ContactID] [int] IDENTITY(1,1) NOT NULL,
	[FamilyName] [varchar](50) NULL,
	[GivenName] [varchar](255) NULL,
	[Title] [varchar](50) NULL,
	[Nationality] [varchar](50) NULL,
	[Sex] [varchar](50) NULL,
	[DOB] [date] NULL,
	[Phone] [varchar](50) NULL,
	[Email] [varchar](255) NULL,
	[WorkPlace] [varchar](255) NULL,
	[Position] [varchar](255) NULL,
	[WorkHome] [varchar](50) NULL,
	[WorkStreet] [varchar](50) NULL,
	[Country] [varchar](50) NULL,
	[University] [varchar](50) NULL,
	[Degree] [varchar](50) NULL,
	[Major] [varchar](50) NULL,
	[YearofGraduate] [int] NULL,
	[Country2] [varchar](50) NULL,
	[University2] [varchar](50) NULL,
	[Degree2] [varchar](50) NULL,
	[Major2] [varchar](50) NULL,
	[YearofGraduate2] [int] NULL,
	[Country3] [varchar](50) NULL,
	[University3] [varchar](50) NULL,
	[Degree3] [varchar](50) NULL,
	[Major3] [varchar](50) NULL,
	[YearofGraduate3] [int] NULL,
	[Comments] [varchar](50) NULL,
	[CreatedDate] [datetime] NULL,
	[CreatedBy] [varchar](255) NULL,
	[Deleted] [bit] NULL,
	[SynToCC] [bit] NULL,
	[FamilyNameTag] [varchar](200) NULL,
	[GivenNameTag] [varchar](200) NULL,
	[PositionTag] [varchar](200) NULL,
	[EmployerTag] [varchar](200) NULL,
	[CertificateReqired] [bit] NULL,
	[AttendPurpose] [varchar](255) NULL,
	[ReceiveInfo] [bit] NULL,
 CONSTRAINT [PK_tblContact] PRIMARY KEY CLUSTERED 
(
	[ContactID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[tblContent]    Script Date: 22/11/2016 10:52:03 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[tblContent](
	[ContentID] [int] IDENTITY(1,1) NOT NULL,
	[EventID] [int] NULL,
	[ContentIndex] [varchar](5) NULL,
	[PageNumber] [int] NULL,
	[PageHeight] [int] NULL,
	[ContentDescription] [varchar](500) NULL,
	[IsMainContent] [bit] NULL,
	[TemplateNumber] [int] NULL,
	[Title] [varchar](max) NULL,
	[SubTitle] [varchar](500) NULL,
	[Article] [text] NULL,
	[PicturePath] [text] NULL,
	[SmallPicturePath] [varchar](500) NULL,
	[NewsBy] [varchar](250) NULL,
	[MainContentID] [int] NULL,
	[SubMainContentID] [int] NULL,
	[Visit] [int] NULL,
	[Deleted] [bit] NULL,
	[RelatedKeyWord] [varchar](50) NULL,
	[Visible] [bit] NULL,
	[NotInMenu] [bit] NULL,
	[fb_comment_visible] [bit] NULL,
 CONSTRAINT [PK_tblContent] PRIMARY KEY CLUSTERED 
(
	[ContentID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[tblEvent]    Script Date: 22/11/2016 10:52:03 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[tblEvent](
	[EventID] [int] IDENTITY(1,1) NOT NULL,
	[PublicationName] [varchar](250) NULL,
	[Title] [varchar](250) NULL,
	[Volume] [int] NULL,
	[No] [int] NULL,
	[IssueDate] [date] NULL,
	[EndDate] [date] NULL,
	[PicturePath] [text] NULL,
	[WelcomeArticle] [text] NULL,
 CONSTRAINT [PK_tblMagazine] PRIMARY KEY CLUSTERED 
(
	[EventID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[tblLog]    Script Date: 22/11/2016 10:52:03 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[tblLog](
	[LogID] [int] IDENTITY(1,1) NOT NULL,
	[ContentID] [int] NULL,
	[ContentDescription] [varchar](500) NULL,
	[IPAddress] [varchar](50) NULL,
	[CreatedBy] [varchar](250) NULL,
	[CreatedDate] [datetime] NULL,
 CONSTRAINT [PK_tblLog] PRIMARY KEY CLUSTERED 
(
	[LogID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[tblMenu_App_CMS]    Script Date: 22/11/2016 10:52:03 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tblMenu_App_CMS](
	[MenuID] [int] IDENTITY(1,1) NOT NULL,
	[MenuName] [nvarchar](100) NULL,
	[MenuOrder] [int] NULL,
	[Visible] [bit] NULL,
	[Deleted] [bit] NULL,
	[Comment] [nvarchar](max) NULL,
	[WebsiteID] [int] NULL,
	[ArticleID] [int] NULL,
	[MenuName_KH] [nvarchar](500) NULL,
	[MenuParentID] [int] NULL,
	[IsParent] [bit] NULL,
	[MenuTop] [bit] NULL,
	[Image] [nvarchar](500) NULL,
 CONSTRAINT [PK_tblMenu_App_CMS] PRIMARY KEY CLUSTERED 
(
	[MenuID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
/****** Object:  Table [dbo].[tblMenu_CMS_NotUsed]    Script Date: 22/11/2016 10:52:03 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[tblMenu_CMS_NotUsed](
	[MenuID] [int] IDENTITY(1,1) NOT NULL,
	[MenuName] [nvarchar](100) NULL,
	[MenuOrder] [int] NULL,
	[Visible] [bit] NULL,
	[Deleted] [bit] NULL,
	[Comment] [nvarchar](max) NULL,
	[WebsiteID] [int] NULL,
	[ArticleID] [int] NULL,
	[MenuName_KH] [nvarchar](500) NULL,
	[MenuParentID] [int] NULL,
	[IsParent] [bit] NULL,
	[MenuTop] [bit] NULL,
	[Image] [varchar](255) NULL,
 CONSTRAINT [PK_tblMenu_CMS] PRIMARY KEY CLUSTERED 
(
	[MenuID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[tblPhotoGallery]    Script Date: 22/11/2016 10:52:03 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tblPhotoGallery](
	[PhotoID] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](100) NULL,
	[Image] [nvarchar](500) NULL,
	[Description] [nvarchar](500) NULL,
	[Link] [nvarchar](200) NULL,
	[Visible] [bit] NULL,
	[Deleted] [bit] NULL,
	[GroupPhotoID] [int] NULL,
	[Ordering] [int] NULL,
 CONSTRAINT [PK_tblPhtoGallery] PRIMARY KEY CLUSTERED 
(
	[PhotoID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[tblRating]    Script Date: 22/11/2016 10:52:03 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[tblRating](
	[RateID] [int] IDENTITY(1,1) NOT NULL,
	[VeryGood] [bit] NULL,
	[Good] [bit] NULL,
	[FairlyGood] [bit] NULL,
	[Fair] [bit] NULL,
	[Poor] [bit] NULL,
	[VeryPoor] [bit] NULL,
	[Comment] [varchar](500) NULL,
	[CreatedDate] [datetime] NULL,
	[TermID] [int] NULL,
	[Term] [varchar](50) NULL,
	[StaffID] [int] NULL,
	[StaffName] [varchar](50) NULL,
 CONSTRAINT [PK_tblRating] PRIMARY KEY CLUSTERED 
(
	[RateID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[tblReference]    Script Date: 22/11/2016 10:52:03 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tblReference](
	[UserID] [int] NULL
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[tblSubMenu_CMS]    Script Date: 22/11/2016 10:52:03 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tblSubMenu_CMS](
	[SubMenuID] [int] IDENTITY(1,1) NOT NULL,
	[MenuID] [int] NULL,
	[SubMenuName] [nvarchar](100) NULL,
	[Visible] [bit] NULL,
	[Deleted] [bit] NULL,
	[SubMenuOrder] [int] NULL,
	[Comment] [nvarchar](max) NULL,
	[ArticleID] [int] NULL,
	[SubMenuName_KH] [nvarchar](500) NULL,
 CONSTRAINT [PK_tblSubMenu_CMS] PRIMARY KEY CLUSTERED 
(
	[SubMenuID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
/****** Object:  Table [dbo].[tblTimetable]    Script Date: 22/11/2016 10:52:03 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tblTimetable](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[EventName] [nvarchar](50) NULL,
	[Date] [date] NULL,
	[Time] [nvarchar](50) NULL,
	[RoomNo] [nvarchar](50) NULL,
	[MainFocus] [nvarchar](50) NULL,
	[TypeofSession] [nvarchar](50) NULL,
	[TitleOfPresentation] [nvarchar](150) NULL,
	[MainFocusCode] [nvarchar](50) NULL,
	[IsMainConference] [bit] NULL,
	[FirstSpeaker] [nvarchar](50) NULL,
	[SecondSpeaker] [nvarchar](50) NULL,
	[ThirdSpeaker] [nvarchar](50) NULL,
	[CreatedDate] [datetime] NOT NULL CONSTRAINT [DF_tblTimetable_CreatedDate]  DEFAULT (getdate()),
	[CreatedBy] [nvarchar](50) NULL,
	[Note] [nvarchar](max) NULL,
	[IsCancelled] [bit] NULL,
 CONSTRAINT [PK_tblTimetable_1] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
/****** Object:  Table [dbo].[tblTransactionLog]    Script Date: 22/11/2016 10:52:03 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tblTransactionLog](
	[UserName] [nvarchar](50) NULL,
	[Action] [nvarchar](550) NULL,
	[Entity] [nvarchar](50) NULL,
	[ContactID] [int] NULL,
	[EntityMainID] [nvarchar](50) NULL,
	[TransactionDate] [datetime] NULL,
	[TransactionID] [int] IDENTITY(1,1) NOT NULL,
 CONSTRAINT [PK_tblTransactionLog] PRIMARY KEY CLUSTERED 
(
	[TransactionID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[tblUser]    Script Date: 22/11/2016 10:52:03 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tblUser](
	[AutoID] [int] IDENTITY(1,1) NOT NULL,
	[UserName] [nvarchar](255) NULL,
	[StaffID] [int] NULL,
	[Name] [nvarchar](255) NULL,
	[UserGroup] [nvarchar](255) NULL,
	[Password] [nvarchar](255) NULL,
	[SecurityGroup] [nvarchar](50) NULL,
	[InUse] [bit] NOT NULL,
	[Locked] [bit] NOT NULL,
	[Attempts] [tinyint] NULL,
	[Campus] [nvarchar](10) NULL,
	[TempPassword] [nvarchar](50) NULL,
	[CreatedDate] [datetime] NULL,
	[CreatedBy] [nvarchar](50) NULL,
	[Temp] [int] NULL,
	[IsMarker] [bit] NULL,
	[Registered] [bit] NULL,
 CONSTRAINT [PK_tblUser] PRIMARY KEY CLUSTERED 
(
	[AutoID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[tblWebsite_CMS]    Script Date: 22/11/2016 10:52:03 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tblWebsite_CMS](
	[WebsiteID] [int] IDENTITY(1,1) NOT NULL,
	[WebsiteName] [nvarchar](100) NULL,
	[URL] [nvarchar](500) NULL,
	[Comment] [nvarchar](500) NULL,
 CONSTRAINT [PK_tblWebsite_CMS] PRIMARY KEY CLUSTERED 
(
	[WebsiteID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[tlkpCountry]    Script Date: 22/11/2016 10:52:03 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tlkpCountry](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[CountryName] [nvarchar](100) NULL,
	[Nationality] [nvarchar](100) NULL,
	[Region] [nvarchar](50) NULL,
	[IsEurope] [bit] NULL,
	[Show] [bit] NULL,
 CONSTRAINT [PK_tlkpCountry] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  View [dbo].[ViewContent]    Script Date: 22/11/2016 10:52:03 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE VIEW [dbo].[ViewContent]
AS
SELECT        dbo.tblContent.ContentID, dbo.tblContent.ContentDescription, dbo.tblContent.IsMainContent, dbo.tblContent.MainContentID, dbo.tblContent.SubMainContentID, 
                         dbo.tblContent.Deleted, dbo.tblContent.Visible, tblContent_1.ContentDescription AS MainContent, tblContent_2.ContentDescription AS SubMainContent, 
                         tblContent_3.ContentDescription AS MainContent_Level2
FROM            dbo.tblContent AS tblContent_3 INNER JOIN
                         dbo.tblContent AS tblContent_2 ON tblContent_3.ContentID = tblContent_2.MainContentID RIGHT OUTER JOIN
                         dbo.tblContent ON tblContent_2.ContentID = dbo.tblContent.SubMainContentID LEFT OUTER JOIN
                         dbo.tblContent AS tblContent_1 ON dbo.tblContent.MainContentID = tblContent_1.ContentID





GO
/****** Object:  View [dbo].[ViewRegister]    Script Date: 22/11/2016 10:52:03 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE VIEW [dbo].[ViewRegister]
AS
SELECT     dbo.tblUser.UserName, dbo.tblContact.Title, dbo.tblContact.FamilyName, dbo.tblContact.GivenName, dbo.tblContact.Sex, dbo.tblContact.ContactID, 
                      ISNULL(dbo.tblUser.Registered, 0) AS Registered, dbo.tblContact.Deleted
FROM         dbo.tblContact INNER JOIN
                      dbo.tblUser ON dbo.tblContact.ContactID = dbo.tblUser.StaffID
WHERE     (ISNULL(dbo.tblContact.Deleted, 0) = 0)





GO
SET IDENTITY_INSERT [dbo].[tblACEBox_Footer] ON 

INSERT [dbo].[tblACEBox_Footer] ([ID], [Name], [Image], [Ordering], [Visible], [Deleted], [Description], [Link], [Grouping]) VALUES (1, N'Box1_Pic1', N'Upload_s\Small_Slide\enrolment 1.jpg', 1, 1, 0, N'Consult our Customer Service Officers about the best course for you', N'ACEWebsite/Enrolment', N'1')
INSERT [dbo].[tblACEBox_Footer] ([ID], [Name], [Image], [Ordering], [Visible], [Deleted], [Description], [Link], [Grouping]) VALUES (2, N'Box1_Pic2', N'Upload_s\Small_Slide\enrolment 2-01.jpg', 2, 0, 0, N'Meet with ACE friendly Client Service Officers.', N'#', N'1')
INSERT [dbo].[tblACEBox_Footer] ([ID], [Name], [Image], [Ordering], [Visible], [Deleted], [Description], [Link], [Grouping]) VALUES (3, N'Box1_Pic3', N'Upload_s\Small_Slide\enrolment 2-02.jpg', 3, 0, 0, N'', N'#', N'1')
SET IDENTITY_INSERT [dbo].[tblACEBox_Footer] OFF
SET IDENTITY_INSERT [dbo].[tblArticle] ON 

INSERT [dbo].[tblArticle] ([ArticleID], [Title], [Article]) VALUES (2, N'Header Slide', N'
             <div>
                <img u="image" src="Uploads/HeaderBanner.jpg" width="80%"/>
            </div> 
                

')
SET IDENTITY_INSERT [dbo].[tblArticle] OFF
SET IDENTITY_INSERT [dbo].[tblArticle_CMS] ON 

INSERT [dbo].[tblArticle_CMS] ([ArticleID], [WebsiteID], [MenuID], [ArticleTitle], [ArticleBreadcrum], [ArticleContent], [Visitor], [Visible], [Deleted], [Comment], [ArticleTitle_KH], [ArticleBreadcrum_KH], [ArticleContent_KH], [ImageShare]) VALUES (3, 1, NULL, N'Cocktail Reception/Presenter Warm Up', N'', N'<!DOCTYPE html><html><head></head><body><p>Cocktail Reception/Presenter Warm Up</p></body></html>', 0, 1, 0, N'          ', N'', N'', N'<!DOCTYPE html><html><head></head><body></body></html>', N'Upload_s\cheap-mini-vci-v930002-single-cable-for-toyota-1.jpg')
SET IDENTITY_INSERT [dbo].[tblArticle_CMS] OFF
SET IDENTITY_INSERT [dbo].[tblBanner] ON 

INSERT [dbo].[tblBanner] ([BannerID], [Name], [Image], [BoxText], [LinkReadMore], [BannerOrder], [Visible], [Deleted]) VALUES (1, N'CHILDREN''S PROGRAM', N'img/cp 3-01.jpg', N'<!DOCTYPE html><html><head></head><body><p>The ACE Children&rsquo;s Program uses materials and teaching methods that suit the needs of young children. Important skills such as phonics and English literacy are part of the program for beginners to give students a sound foundation in their language studies.</p></body></html>', N'ACEWebsite.aspx?ArticleID=', 0, 1, NULL)
INSERT [dbo].[tblBanner] ([BannerID], [Name], [Image], [BoxText], [LinkReadMore], [BannerOrder], [Visible], [Deleted]) VALUES (2, N'GENERAL ENGLISH PROGRAMS', N'img/gep.jpg', N'The ACE General English Program teaches English for everyday life. Graduates are able to function in a wide-range of environments requiring English-language skills. They communicate confidently in most social and workplace situations. ACE GEP students will develop their reading, writing, listening...', N'#', 2, 1, NULL)
INSERT [dbo].[tblBanner] ([BannerID], [Name], [Image], [BoxText], [LinkReadMore], [BannerOrder], [Visible], [Deleted]) VALUES (3, N'ENGLISH FOR ACADEMIC PURPOSES', N'img/EAP.jpg', N'<!DOCTYPE html><html><head></head><body><p>The ACE English for Academic Purposes program is designed to give students an introduction to the academic culture and English-language requirements of overseas higher education. This program is ideal for students wishing to undertake higher education in an English-speaking environment.</p></body></html>', N'ACEWebsite.aspx?ArticleID=', 3, 0, NULL)
SET IDENTITY_INSERT [dbo].[tblBanner] OFF
SET IDENTITY_INSERT [dbo].[tblContact] ON 

SET IDENTITY_INSERT [dbo].[tblContact] OFF
SET IDENTITY_INSERT [dbo].[tblContent] ON 

SET IDENTITY_INSERT [dbo].[tblContent] OFF
SET IDENTITY_INSERT [dbo].[tblEvent] ON 

SET IDENTITY_INSERT [dbo].[tblEvent] OFF
SET IDENTITY_INSERT [dbo].[tblMenu_App_CMS] ON 

INSERT [dbo].[tblMenu_App_CMS] ([MenuID], [MenuName], [MenuOrder], [Visible], [Deleted], [Comment], [WebsiteID], [ArticleID], [MenuName_KH], [MenuParentID], [IsParent], [MenuTop], [Image]) VALUES (1, N'Cocktail Reception/Presenter Warm Up', 3, 1, 0, NULL, 1, 3, N'', 0, 1, 0, N'Upload_s\Menu\Cocktail-ReceptionPresenter-Warm-Up.jpg')
INSERT [dbo].[tblMenu_App_CMS] ([MenuID], [MenuName], [MenuOrder], [Visible], [Deleted], [Comment], [WebsiteID], [ArticleID], [MenuName_KH], [MenuParentID], [IsParent], [MenuTop], [Image]) VALUES (2, N'Map', 8, 1, 0, NULL, 1, 11, N'', 0, 1, 0, N'Upload_s\Menu\Map.jpg')
INSERT [dbo].[tblMenu_App_CMS] ([MenuID], [MenuName], [MenuOrder], [Visible], [Deleted], [Comment], [WebsiteID], [ArticleID], [MenuName_KH], [MenuParentID], [IsParent], [MenuTop], [Image]) VALUES (3, N'Regional ELT Research Symposium', 4, 1, 0, NULL, 1, 4, N'', 0, 1, 0, N'Upload_s\Menu\Regional-ELT-Research-Symposium.jpg')
SET IDENTITY_INSERT [dbo].[tblMenu_App_CMS] OFF
SET IDENTITY_INSERT [dbo].[tblMenu_CMS_NotUsed] ON 

INSERT [dbo].[tblMenu_CMS_NotUsed] ([MenuID], [MenuName], [MenuOrder], [Visible], [Deleted], [Comment], [WebsiteID], [ArticleID], [MenuName_KH], [MenuParentID], [IsParent], [MenuTop], [Image]) VALUES (1, N'Home', 1, 0, 0, N'Testing', 1, 1, NULL, 0, 0, NULL, NULL)
INSERT [dbo].[tblMenu_CMS_NotUsed] ([MenuID], [MenuName], [MenuOrder], [Visible], [Deleted], [Comment], [WebsiteID], [ArticleID], [MenuName_KH], [MenuParentID], [IsParent], [MenuTop], [Image]) VALUES (16, N'English Programs', 3, 1, 0, N'', 1, 25, N'', 0, 1, 0, NULL)
INSERT [dbo].[tblMenu_CMS_NotUsed] ([MenuID], [MenuName], [MenuOrder], [Visible], [Deleted], [Comment], [WebsiteID], [ArticleID], [MenuName_KH], [MenuParentID], [IsParent], [MenuTop], [Image]) VALUES (17, N'Home', 2, 1, 0, N'', 1, 12, N'', 0, 1, 0, NULL)
SET IDENTITY_INSERT [dbo].[tblMenu_CMS_NotUsed] OFF
INSERT [dbo].[tblReference] ([UserID]) VALUES (409)
SET IDENTITY_INSERT [dbo].[tblSubMenu_CMS] ON 

INSERT [dbo].[tblSubMenu_CMS] ([SubMenuID], [MenuID], [SubMenuName], [Visible], [Deleted], [SubMenuOrder], [Comment], [ArticleID], [SubMenuName_KH]) VALUES (1, 0, N'Goals and Objectives', 1, 0, 1, N'Testing', 1, NULL)
INSERT [dbo].[tblSubMenu_CMS] ([SubMenuID], [MenuID], [SubMenuName], [Visible], [Deleted], [SubMenuOrder], [Comment], [ArticleID], [SubMenuName_KH]) VALUES (2, 0, N'AAA-C Commitee', 1, 0, 2, N'Testing', 2, NULL)
INSERT [dbo].[tblSubMenu_CMS] ([SubMenuID], [MenuID], [SubMenuName], [Visible], [Deleted], [SubMenuOrder], [Comment], [ArticleID], [SubMenuName_KH]) VALUES (3, 0, N'Members', 1, 0, 3, N'Testing', 0, NULL)
SET IDENTITY_INSERT [dbo].[tblSubMenu_CMS] OFF
SET IDENTITY_INSERT [dbo].[tblTimetable] ON 

INSERT [dbo].[tblTimetable] ([ID], [EventName], [Date], [Time], [RoomNo], [MainFocus], [TypeofSession], [TitleOfPresentation], [MainFocusCode], [IsMainConference], [FirstSpeaker], [SecondSpeaker], [ThirdSpeaker], [CreatedDate], [CreatedBy], [Note], [IsCancelled]) VALUES (2, N'CamTESOL-UECA Regional ELT Research Symposium', CAST(N'2017-02-17' AS Date), N'10:30-13:00', N'Symposium Hall', N'Featured Session
(Featured)', N'Workshop', N'Analysing
requirements of
refereed journals', N'Featured 01', 0, N'WICKERT Rosie', NULL, NULL, CAST(N'2016-08-29 09:35:26.593' AS DateTime), NULL, NULL, 1)
INSERT [dbo].[tblTimetable] ([ID], [EventName], [Date], [Time], [RoomNo], [MainFocus], [TypeofSession], [TitleOfPresentation], [MainFocusCode], [IsMainConference], [FirstSpeaker], [SecondSpeaker], [ThirdSpeaker], [CreatedDate], [CreatedBy], [Note], [IsCancelled]) VALUES (10, N'CamTESOL-UECA Regional ELT Research Symposium', CAST(N'2017-02-17' AS Date), N'10:30-13:00', N'Room 1.2', N'Language Acquisition (ACQ)', N'Paper', N'Language Acquisition
(ACQ)', N'ACQ 3', 0, N'HAMILTON Janet', N'Patricia', NULL, CAST(N'2016-08-29 09:42:58.293' AS DateTime), NULL, NULL, 1)
SET IDENTITY_INSERT [dbo].[tblTimetable] OFF
SET IDENTITY_INSERT [dbo].[tblUser] ON 

INSERT [dbo].[tblUser] ([AutoID], [UserName], [StaffID], [Name], [UserGroup], [Password], [SecurityGroup], [InUse], [Locked], [Attempts], [Campus], [TempPassword], [CreatedDate], [CreatedBy], [Temp], [IsMarker], [Registered]) VALUES (8, N'0313', 8, N'Sok Udom.Deth', NULL, N'032903.16', N'Participant', 1, 0, 0, NULL, NULL, NULL, NULL, NULL, NULL, NULL)
INSERT [dbo].[tblUser] ([AutoID], [UserName], [StaffID], [Name], [UserGroup], [Password], [SecurityGroup], [InUse], [Locked], [Attempts], [Campus], [TempPassword], [CreatedDate], [CreatedBy], [Temp], [IsMarker], [Registered]) VALUES (10, N'Admin', 15, N'Admin', NULL, N'aaac.99', N'Admin', 1, 0, 0, N'SM', NULL, CAST(N'2014-08-04 14:51:00.000' AS DateTime), NULL, NULL, NULL, NULL)
INSERT [dbo].[tblUser] ([AutoID], [UserName], [StaffID], [Name], [UserGroup], [Password], [SecurityGroup], [InUse], [Locked], [Attempts], [Campus], [TempPassword], [CreatedDate], [CreatedBy], [Temp], [IsMarker], [Registered]) VALUES (11, N'0314', 16, N'Seila.Sar', NULL, N'044503.15', N'Participant', 0, 0, NULL, NULL, NULL, NULL, NULL, NULL, NULL, NULL)
SET IDENTITY_INSERT [dbo].[tblUser] OFF
SET IDENTITY_INSERT [dbo].[tblWebsite_CMS] ON 

INSERT [dbo].[tblWebsite_CMS] ([WebsiteID], [WebsiteName], [URL], [Comment]) VALUES (1, N'USAAC', NULL, N'Testing')
INSERT [dbo].[tblWebsite_CMS] ([WebsiteID], [WebsiteName], [URL], [Comment]) VALUES (2, N'ACE', NULL, N'Testing')
SET IDENTITY_INSERT [dbo].[tblWebsite_CMS] OFF
SET IDENTITY_INSERT [dbo].[tlkpCountry] ON 

INSERT [dbo].[tlkpCountry] ([ID], [CountryName], [Nationality], [Region], [IsEurope], [Show]) VALUES (1, N'Afghanistan', N'Afghan', N'', NULL, NULL)
INSERT [dbo].[tlkpCountry] ([ID], [CountryName], [Nationality], [Region], [IsEurope], [Show]) VALUES (2, N'Albania', N'Albanian', N'', 1, NULL)
INSERT [dbo].[tlkpCountry] ([ID], [CountryName], [Nationality], [Region], [IsEurope], [Show]) VALUES (3, N'Algeria', N'Algerian', N'', NULL, NULL)
GO
SET IDENTITY_INSERT [dbo].[tlkpCountry] OFF
/****** Object:  StoredProcedure [dbo].[SearchArticle]    Script Date: 22/11/2016 10:52:03 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- =============================================
-- Author:		<Author,,Name>
-- Create date: <Create Date,,>
-- Description:	<Description,,>
-- =============================================
CREATE PROCEDURE [dbo].[SearchArticle] 
	-- Add the parameters for the stored procedure here
	@keyword nvarchar(max)

AS
BEGIN
	-- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering with SELECT statements.
	SET NOCOUNT ON;

    -- Insert statements for procedure here
select a.ArticleID,ArticleTitle,ArticleContent,[ACE].[dbo].[udf_StripHTML](ArticleContent) as Article,
'ACEWebsite.aspx?'  +'ArticleID=' + LTRIM(RTRIM(str(a.ArticleID))) + '&MenuID=' + convert(nvarchar(100),(Replace(m.MenuID,' ','')))  as Url, m.MenuID
--'ACEWebsite/'+ m.MenuName  as Url, m.MenuID
from tblArticle_CMS a left join tblMenu_CMS m on a.ArticleID=m.ArticleID
where ISNULL(a.Deleted,0)=0 and Isnull(a.Visible,0)=1
and (ArticleContent like '%' + @keyword + '%'
or ArticleTitle like '%' + @keyword + '%')
END






GO
EXEC sys.sp_addextendedproperty @name=N'MS_DiagramPane1', @value=N'[0E232FF0-B466-11cf-A24F-00AA00A3EFFF, 1.00]
Begin DesignProperties = 
   Begin PaneConfigurations = 
      Begin PaneConfiguration = 0
         NumPanes = 4
         Configuration = "(H (1[41] 4[21] 2[10] 3) )"
      End
      Begin PaneConfiguration = 1
         NumPanes = 3
         Configuration = "(H (1 [50] 4 [25] 3))"
      End
      Begin PaneConfiguration = 2
         NumPanes = 3
         Configuration = "(H (1 [50] 2 [25] 3))"
      End
      Begin PaneConfiguration = 3
         NumPanes = 3
         Configuration = "(H (4 [30] 2 [40] 3))"
      End
      Begin PaneConfiguration = 4
         NumPanes = 2
         Configuration = "(H (1 [56] 3))"
      End
      Begin PaneConfiguration = 5
         NumPanes = 2
         Configuration = "(H (2 [66] 3))"
      End
      Begin PaneConfiguration = 6
         NumPanes = 2
         Configuration = "(H (4 [50] 3))"
      End
      Begin PaneConfiguration = 7
         NumPanes = 1
         Configuration = "(V (3))"
      End
      Begin PaneConfiguration = 8
         NumPanes = 3
         Configuration = "(H (1[56] 4[18] 2) )"
      End
      Begin PaneConfiguration = 9
         NumPanes = 2
         Configuration = "(H (1 [75] 4))"
      End
      Begin PaneConfiguration = 10
         NumPanes = 2
         Configuration = "(H (1[66] 2) )"
      End
      Begin PaneConfiguration = 11
         NumPanes = 2
         Configuration = "(H (4 [60] 2))"
      End
      Begin PaneConfiguration = 12
         NumPanes = 1
         Configuration = "(H (1) )"
      End
      Begin PaneConfiguration = 13
         NumPanes = 1
         Configuration = "(V (4))"
      End
      Begin PaneConfiguration = 14
         NumPanes = 1
         Configuration = "(V (2))"
      End
      ActivePaneConfig = 0
   End
   Begin DiagramPane = 
      Begin Origin = 
         Top = 0
         Left = 0
      End
      Begin Tables = 
         Begin Table = "tblContent"
            Begin Extent = 
               Top = 6
               Left = 38
               Bottom = 183
               Right = 233
            End
            DisplayFlags = 280
            TopColumn = 13
         End
         Begin Table = "tblContent_1"
            Begin Extent = 
               Top = 147
               Left = 323
               Bottom = 276
               Right = 518
            End
            DisplayFlags = 280
            TopColumn = 0
         End
         Begin Table = "tblContent_2"
            Begin Extent = 
               Top = 0
               Left = 406
               Bottom = 182
               Right = 601
            End
            DisplayFlags = 280
            TopColumn = 10
         End
         Begin Table = "tblContent_3"
            Begin Extent = 
               Top = 21
               Left = 731
               Bottom = 183
               Right = 926
            End
            DisplayFlags = 280
            TopColumn = 0
         End
      End
   End
   Begin SQLPane = 
   End
   Begin DataPane = 
      Begin ParameterDefaults = ""
      End
      Begin ColumnWidths = 10
         Width = 284
         Width = 1500
         Width = 1500
         Width = 1500
         Width = 1500
         Width = 1500
         Width = 1500
         Width = 1500
         Width = 1500
         Width = 1935
      End
   End
   Begin CriteriaPane = 
      Begin ColumnWidths = 11
         Column = 2430
         Alias = 2235
         Table = 1170
         Output = 720
         Append = 1400
         NewValue = 1170
         SortType = 1350
         SortOrder = 1410
         GroupBy = 1350
         Filter = 1350
         Or = 1350
        ' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'VIEW',@level1name=N'ViewContent'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_DiagramPane2', @value=N' Or = 1350
         Or = 1350
      End
   End
End
' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'VIEW',@level1name=N'ViewContent'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_DiagramPaneCount', @value=2 , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'VIEW',@level1name=N'ViewContent'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_DiagramPane1', @value=N'[0E232FF0-B466-11cf-A24F-00AA00A3EFFF, 1.00]
Begin DesignProperties = 
   Begin PaneConfigurations = 
      Begin PaneConfiguration = 0
         NumPanes = 4
         Configuration = "(H (1[41] 4[29] 2[12] 3) )"
      End
      Begin PaneConfiguration = 1
         NumPanes = 3
         Configuration = "(H (1 [50] 4 [25] 3))"
      End
      Begin PaneConfiguration = 2
         NumPanes = 3
         Configuration = "(H (1 [50] 2 [25] 3))"
      End
      Begin PaneConfiguration = 3
         NumPanes = 3
         Configuration = "(H (4 [30] 2 [40] 3))"
      End
      Begin PaneConfiguration = 4
         NumPanes = 2
         Configuration = "(H (1 [56] 3))"
      End
      Begin PaneConfiguration = 5
         NumPanes = 2
         Configuration = "(H (2 [66] 3))"
      End
      Begin PaneConfiguration = 6
         NumPanes = 2
         Configuration = "(H (4 [50] 3))"
      End
      Begin PaneConfiguration = 7
         NumPanes = 1
         Configuration = "(V (3))"
      End
      Begin PaneConfiguration = 8
         NumPanes = 3
         Configuration = "(H (1[56] 4[18] 2) )"
      End
      Begin PaneConfiguration = 9
         NumPanes = 2
         Configuration = "(H (1 [75] 4))"
      End
      Begin PaneConfiguration = 10
         NumPanes = 2
         Configuration = "(H (1[66] 2) )"
      End
      Begin PaneConfiguration = 11
         NumPanes = 2
         Configuration = "(H (4 [60] 2))"
      End
      Begin PaneConfiguration = 12
         NumPanes = 1
         Configuration = "(H (1) )"
      End
      Begin PaneConfiguration = 13
         NumPanes = 1
         Configuration = "(V (4))"
      End
      Begin PaneConfiguration = 14
         NumPanes = 1
         Configuration = "(V (2))"
      End
      ActivePaneConfig = 0
   End
   Begin DiagramPane = 
      Begin Origin = 
         Top = 0
         Left = 0
      End
      Begin Tables = 
         Begin Table = "tblContact"
            Begin Extent = 
               Top = 6
               Left = 38
               Bottom = 183
               Right = 221
            End
            DisplayFlags = 280
            TopColumn = 2
         End
         Begin Table = "tblUser"
            Begin Extent = 
               Top = 6
               Left = 259
               Bottom = 175
               Right = 429
            End
            DisplayFlags = 280
            TopColumn = 11
         End
      End
   End
   Begin SQLPane = 
   End
   Begin DataPane = 
      Begin ParameterDefaults = ""
      End
      Begin ColumnWidths = 9
         Width = 284
         Width = 1500
         Width = 1500
         Width = 1500
         Width = 1500
         Width = 1500
         Width = 1500
         Width = 1500
         Width = 1500
      End
   End
   Begin CriteriaPane = 
      Begin ColumnWidths = 11
         Column = 1440
         Alias = 1605
         Table = 1170
         Output = 720
         Append = 1400
         NewValue = 1170
         SortType = 1350
         SortOrder = 1410
         GroupBy = 1350
         Filter = 1350
         Or = 1350
         Or = 1350
         Or = 1350
      End
   End
End
' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'VIEW',@level1name=N'ViewRegister'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_DiagramPaneCount', @value=1 , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'VIEW',@level1name=N'ViewRegister'
GO
USE [master]
GO
